In [72]:
import pandas as pd
import seaborn as sns

In [73]:
p_df = sns.load_dataset("penguins")

In [74]:
p_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [75]:
p_df.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

#### drooping nas

In [76]:
p_df = p_df.dropna()

#### dropping duplicates

In [77]:
p_df = p_df.drop_duplicates()

### X-y split

In [78]:
X = p_df[["flipper_length_mm","bill_depth_mm"]]
y = p_df[["body_mass_g"]]

### Train-test split

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

### Model training

In [81]:
from sklearn.linear_model import LinearRegression

In [82]:
lm = LinearRegression()
model = lm.fit(X_train,y_train)

In [83]:
model.coef_

array([[52.20343571, 13.10815533]])

In [84]:
model.intercept_

array([-6509.21617362])

### Predict mass of random penguin

In [85]:
random_penguin = X_test.sample()

In [86]:
random_penguin

     flipper_length_mm  bill_depth_mm
153              196.0           19.5

In [87]:
model.predict(random_penguin)

array([[3978.26625388]])

### Create predictions for test set

In [88]:
y_pred = model.predict(X_test)

In [90]:
y_pred = pd.DataFrame(y_pred)

In [91]:
y_test = y_test.reset_index(drop=True)

In [93]:
resiudals_df = pd.concat([y_test,y_pred],axis=1)

In [100]:
residuals_df = resiudals_df.rename(columns={"body_mass_g":"y_test", 0:"y_pred"})

In [103]:
residuals_df["residual"] = residuals_df["y_test"]-residuals_df["y_pred"]

In [104]:
residuals_df.head()

   y_test       y_pred    residual
0  3250.0  3001.901576  248.098424
1  4875.0  5271.325621 -396.325621
2  4000.0  3920.819556   79.180444
3  3675.0  4053.835184 -378.835184
4  4050.0  3752.411909  297.588091

### Calculating metrics

In [107]:
mean_error = residuals_df["residual"].mean()

In [108]:
mean_error

0.42567127691784534

In [111]:
from sklearn.metrics import mean_squared_error as mse , mean_absolute_error as mae

In [112]:
mse(y_test,y_pred)

135012.91730727014

In [113]:
mae(y_test,y_pred)

295.239293718512

In [117]:
rmse = mse(y_test,y_pred, squared = False)

367.44103922571054